@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    width: 100%;
    height: auto;
    
}
header{
    width: 100%;
    height: auto;
    
}
.navbar{
    width: 100%;
    position: fixed;
    background: rgb(4, 31, 59);    
    top: 0;
    left: 0;
    right: 0;
    z-index: 300;
}
.container{
    width: auto;
    height: 5vh;
    display: flex;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;    
}

@media(max-width:768px){
    .navbar{
        
        font-size: 70%;
    }
}
@media(max-width:576px){
    .navbar{
        
        font-size: 50%;
    }
}

/*--------------------------------------- ----------------------------------------------- */
.imgFond img{
    width: 100%;
    height: auto;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
   
}

/*-------------------------------------------------- -------------------------------------- */
main{
    width: 100%;
    height: auto;
}
.ViePro{
    background: #772837;
    color: white;
}
.Identite{
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.photoId img{    
    height: auto;
    width: 100%;
        
}

.profil{
    width: 100%;
    height: auto;
    
    
}
.presentation{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 50px 0 0;
    background-color: #772837;
    color: white;
}
.presentationTxt{
    margin: 30px;
    height: auto;
    line-height: 2.1;
    display: flex;
    text-align: justify;
    justify-content: center;
    align-items: center;
}
@media(max-width:768px){
    .Identite{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .photoId img{
        width: 30%;
    }
    .presentationTxt{
     
    }
}
@media(max-width:576px){
    
    
}
/*----------------------------------------------- --------------------------------------------------------- */

.para2{
    background-image: url(./ile.jpg);
    width: 100%;
    height: 25vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    
   
}
/*-------------------------------------------------------- -------------------------------------------- */
.para2 h1{
    font-size: 300%;
    height: 100%;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(216, 122, 34);
}

.competence{
    width: 100%;
    height: auto;
    background: #772837;

}
.competenceTxt{    
    text-align: justify;
    display: flex;
    justify-content: center;
    
}
.competenceTxt p{
    width: 700px;
    height: 200px;
    display: flex;
    
    align-items: center;
    color: white;
}

.SavoirFaire {
    width:100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
       
}
.encadrer{
    width: 700px;
    height: 500px;
    background-color: white;
    border: 3px rgb(207, 173, 59) solid;
    border-radius: 20px; 
    
}
.titre{
    width: 700px;
    height: auto;
    
}
.titre h2{
    width: 100%;
    height: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;    
}
.paragraphe{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.paragraphe p{
    width: 80%;
    display: flex;
    justify-content: center;
    text-align: center;
}
.competenceListe ul li{
    list-style-type: none;
    font-size: 150%;
    line-height: 2;
    display: flex;
    justify-content: center;
    
}
@media(max-width:576px){
    .encadrer{
        width: 80%;
    }
    .titre h2{
        width: 60%;
    }
}
/*---------------------------------------------- --------------------------------------- */
.carte{
   
    height: 100%;
    justify-content: center;
    align-items: center;
    background: #772837;
    padding: 50px;
}

.carte1{
    height: 100%;
    border: 3px blue solid;
    background-color: #fff;
    border-radius: 10%;
    justify-content: center;
    align-items: center;
   
}
.carte1 img{
    width: 100%;
    border-radius: 15%;    
}
.card-text{
    height: 60px;
}
.btn{
    width: 100%;
}
@media(max-width:768px) {
    .coeur {
        width: 83%;
    }
   .chalet {       
       padding-bottom: 10%;

   }
}
/*------------------------------ --------------------------------- */
.para3{
    background-image: url(.//chute.jpg);
    width: 100%;
    height: 25vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;   
}
/*------------------------------- -------------------------------- */
.para3 h1{
    font-size: 300%;
    height: 100%;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(216, 122, 34);
}
@media(max-width:576px){
    .para3 h1{
        text-align: center;
    }
}
/*------------------------- -------------------------------------- */
.parcoursPro{
    background-color: #772837;
}
.container1 {
overflow: hidden;
padding: 20px 10px;
position: relative;
margin: 0 auto;
width: 600px;
}
 
.container1:before {
content: '';
width: 8px;
height: 100%;
background: #313131;
position: absolute;
left: 20px;
border-radius: 1rem;
}

.travail {
background: white;
padding: 20px;
margin: 60px;
max-width: 500px;
width: 100%;
border-radius: 8px;
position: relative;
-webkit-box-shadow: -5px 5px 41px -18px rgba(0,0,0,0.75);
-moz-box-shadow: -5px 5px 41px -18px rgba(0,0,0,0.75);
box-shadow: -5px 5px 41px -18px rgba(0,0,0,0.75);
}

.travail h2 span {
font-size: 16px;
color: #6ab04c;
border: 2px solid #535c68;
padding: 4px;
border-radius: 8px;
}

.travail:before {
content: '';
width: 20px;
height: 20px;
background: white;
left: -10px;
top: 50%;
transform: translatey(-50%) rotate(45deg);
position: absolute;
z-index: -1;
border: 2px solid #000;
}

.travail:after {
content: '';
width: 32px;
height: 32px;
background: #badc58;
border-radius: 50%;
border: 4px solid #313131;
left: -62px;
top: 50%;
transform: translatey(-50%) rotate(45deg);
position: absolute;
}
/*------------------------------------ -------------------------------------- */
.para4{
    background-image: url(.//chute.jpg);
    width: 100%;
    height: 25vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.para4 h1{
    font-size: 300%;
    height: 100%;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(216, 122, 34);
}
/*-------------------------------------------  -----------------------------------*/
.footer{
    background: #772837;
    height: 100%;
    
}
.coordonnees{
    width: 100%;
    padding: 30px;
    line-height: 2.5;
    text-align: center;
    color: white;
}
.coordonnees img{
    width: 2%;
    height: 2%;
}
.icons{
    padding: 2%;
}
form{
    height: auto;
    width: 100%;
    background-color: rgb(233, 227, 227);
    padding: 20px;
    border-radius: 10px;
  }
   form h1{  
    font-size: 20px;  
  }
  form .separation{
    width: 100%;
    height: 1px;
    background-color: #747cdf;
  }
  form .corps-formulaire{
    height: auto;
    display: flex;
    flex-wrap: wrap;
   
  }
  form .corps-formulaire .groupe{
    position: relative;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }
  form .corps-formulaire .gauche .groupe input{
    margin-top: 5px;
    padding: 10px 5px 10px 30px;
    border: 1px solid #c9c9c9;
    outline-color:  #747cdf;
    border-radius: 5px;
  }
  form .corps-formulaire .gauche .groupe i{
    position: absolute;
    left: 0;
    top: 35px;
    padding: 9px 8px;
    color: #747cdf;
  }
  form .corps-formulaire .droite{
    margin-left: 10px;
  
  }
  form .corps-formulaire .droite .groupe{
    height: 100%;
  }
  form .corps-formulaire .droite .groupe textarea{
    margin-top: 5px;
    padding: 10px;
    background-color: #f8f8f8;
    border: 2px solid #747cdf;
    outline: none;
    border-radius: 5px;
    resize: none;
    height: 240px;
    
  }
  .pied-formulaire{
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
  }
  .pied-formulaire button{
    
    background-color: #747cdf;
    color: white;
    font-size: 15px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition: transform 0.5s;
    
}
  .pied-formulaire button:hover{
    transform: scale(1.05);
  
  }
  @media(max-width:576px){
    form .corps-formulaire .droite{
      margin-left: 0;
    }
    
    form{
      height: 90vh;
      
    }
  }
  .boite{
    background: #772837;
    
     
  }
  .blocForm{
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5%;
  }
  .map{
      display: flex;
      justify-content: center;
      align-items: center;
      
      height: auto;
      padding: 5%;
  }
 